# TEMPERATURE

In [1]:
# Importing libraries
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Importing data
temp = pd.read_csv('/Users/anna/data/climate-change/datasets/clean_temp.csv')
temp.head()

         Year  AvgTemp
0  1850-01-01   12.833
1  1850-02-01   13.588
2  1850-03-01   14.043
3  1850-04-01   14.667
4  1850-05-01   15.507

In [9]:
temp.dtypes

Year        object
AvgTemp    float64
dtype: object

In [10]:
temp['Year'] = pd.to_datetime(temp['Year'])
temp.dtypes

Year       datetime64[ns]
AvgTemp           float64
dtype: object

## Annual mean

In [11]:
temp_mean = temp.groupby([(temp.Year)]).mean()
temp_mean.reset_index(level=0, inplace=True)
temp_mean.head()

        Year  AvgTemp
0 1850-01-01   12.833
1 1850-02-01   13.588
2 1850-03-01   14.043
3 1850-04-01   14.667
4 1850-05-01   15.507

In [12]:
temp_mean = temp.groupby([(temp.Year)]).mean().reset_index()
temp_mean.head()

        Year  AvgTemp
0 1850-01-01   12.833
1 1850-02-01   13.588
2 1850-03-01   14.043
3 1850-04-01   14.667
4 1850-05-01   15.507

In [13]:
temp_mean.to_csv('/Users/anna/data/climate-change/datasets/clean_temp_mean.csv', index=False)
temp_mean.head()

        Year  AvgTemp
0 1850-01-01   12.833
1 1850-02-01   13.588
2 1850-03-01   14.043
3 1850-04-01   14.667
4 1850-05-01   15.507

In [14]:
temp_mean.dtypes

Year       datetime64[ns]
AvgTemp           float64
dtype: object

## Average global temperature per year

In [15]:
# Plotting avg. temp / year and using moving averages to smooth the result

temp_mov = temp.rolling(window=8).mean()

sns.set_style("darkgrid")
plt.figure(figsize=(15, 7))
sns.lineplot(x='Year', 
             y='AvgTemp', 
             data=temp_mov)
plt.title('Average global temperature per year(1850-2015)', fontsize=16)
plt.xlabel('Year', fontsize=14)
plt.ylabel('Avg. temp/ C', fontsize=14)

NotImplementedError: ops for Rolling for this dtype datetime64[ns] are not implemented

# Results

Temperature seems to be following an increasing trend, increasing 1C in the last 150 years.